body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-opink {
    background-color: #c2195b;
    border-color: transparent;
    border: 0;
    border-radius: 25px;
    box-shadow: 1px 1.5px 2.5px 0 rgba(0, 0, 0, .4);
}

.text-size {
    font-size: 140px;
    font-family: 'Lora', serif;
    font-weight: 300;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container>button>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}